<div class="container">
  <h1>All our flats (<%= @flats.count %>)</h1>

  <div class="container">
    <ul>
      <% @flats.each do |flat| %>
        <div class="card-trip">
          <img src="app/assets/images/sf.jpg" alt="Trip">
          <div class="trip-description">
            <div>
              <h2><strong><%= flat.name %></strong></h2>
              <p><%= flat.address %></p>
              <div class="icon">
                <i class="fas fa-euro-sign"><%= flat.price_per_night %></i>
                <i class="fas fa-user-friends"><%= flat.number_of_guests %></i>
              </div>
              <div class="flat-card-actions">
                <p><%= link_to "More info", flat_path(@flat) %></p>
                <p><%= link_to "Edit", edit_flat_path(@flat) %></p>
                <p><%= link_to "Remove", flat_path(@flat), method: :delete, data: { confirm: "Are you sure?" } %> %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </ul>

  </div>
</div>
